@import './fonts.css';
@import "../js/tablesorter/themes/blue/style.css";

#test-images{
	/* background-color: cyan; */
	background-image: url("../img/duke.png");
	width: 200px;
	height: 200px;
}

body{
	font-family: "Open Sans";
  line-height: 1.4em;
	padding: 0;
	margin: 0;
	background-image: url("../img/duke.png");
}

h1{
	font-family: Georgia;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
  margin-bottom: 1em;
}

h2{
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	font-size: 1.3em;
}

h3{
	font-size: 1.02em;
	font-style: normal;
}

h4{
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #666;
}

hr{
	border-top: 1px solid #eee;
}

input[type=submit], input[type=button] , button{
	border-radius: 5px;
	padding: 0.6em;
	font-size: 1.05em;
	border: none;
	margin-right: 1em;
  white-space: nowrap;
}


.label{
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #666;
}

.subset{
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: 1.67em;
	text-align: left;
	color: #666;
	font-size: 0.95em;
}

#test-banner{
  background-color: #f6eab8;
  width: 100%;
  padding: 0.5em 1.5em;
  font-size: 2em;
  position: sticky;
  top: 0;
  z-index: 999;
}


#header{
  position: relative;
}

#header #logo{
	display: inline-block;
	padding-right: 1em;
	margin-right: 1em;
}

#header #logo img{
	height: 60px;
	margin: 1em 0;
}

#header h1{
	color: #FFD960;
	position: absolute;
	top: 36px;
	left: 245px;
	font-size: 2.75em;
	font-family: "Open Sans", sans-serif;
}

#main{
	margin: 3.5em;
}

#left{
  margin-right: 420px;
}

#sidebar{
  float: right;
  width: 330px;
}

.content-section{
  margin-bottom: 2em;
  background: #eee;
  border: 1px solid #999;
  padding: 1em 2em;
}


#columns{
	padding-bottom: 300px;
	position: relative;
}


ul#menu-options{
	background: #eee;
	border-bottom: 1px solid #999;
	margin: 0;
	padding-top: 0.15em;
	padding-left: 3.5em;
	list-style: none;
}

ul#menu-options li{
	display: inline-block;
	font-size: 1.2em;
}

ul#menu-options li a{
	display: inline-block;
	padding: 0.5em 1em;
	border: none;
	color: #333;
}

ul#menu-options li a:hover, ul#menu-options li a.active-tab{
	background-color: #333;
	color: #fff;
}

ul#menu-options li#menu-settings{
  float: right;
  padding: 1em;
}


/* Menu options */

ul#menu-options li ul.dropdown-content{
  position: absolute;
  padding: 0;
  display: none;
  z-index: 1;
  background-color: #eee;
  border: 1px solid #ccc;
}

ul#menu-options li ul.dropdown-content li{
  font-size: 0.9em;
  display: block;
  border-bottom: 1px solid #ccc;
}

ul#menu-options li ul.dropdown-content li a{
  display: block;
}


ul#menu-options li:hover ul.dropdown-content{
  display: inline-block;
}

#login-details{
	color: #fff;
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 55px;
	margin: 1em 0;
}

#login-details a{
  color: #FFD960;
}

#login-details a:hover{
  color: #0577b1;
}

button .button-icon-right{
	margin-left: 0.5em;
}

button .button-icon-left{
	margin-right: 0.5em;
}

a .link-icon{
  margin-left: 0.25em;
}

code{
	background-color: #444;
	color: #98FB98;
	padding: 3px;
}

/* Flash messages - Fernando */

.message{
	border-radius: 5px;
  padding: 1em;
	text-align: left;
  color: #262626;
  margin-bottom: 1em;
}

.message.success{
	background-color: #EBF0CC;
}

.message.error{
	background-color: #fcb2b2;
}

.message.notice{
	background-color: #f6eab8;
}

table.display{
  border: 1px solid #999;
  border-spacing: 0;
}

table.display th{
  text-align: left;
  background: #f6eab8;
}

table.display th, table.display td{
  padding: 0.75em;
  border-bottom: 1px solid #999;
}

table.display tr:nth-child(even) td{
  background: #eee;
}

table.display tr:nth-child(odd) td{
  background: #fff;
}

table.display tr:last-child td{
  border-bottom: none;
}

table.full-width{
  width: 100%;
}

.tooltip{
  color: #cc3300;
}

.required{
  font-weight: bold;
  color: #cc3300;
}

.form-set{
  margin-bottom: 2em;
}

.form-set label{
  font-weight: bold;
  display: block;
  font-size: 0.9em;
  padding-bottom: 3px;
}

.form-set label.inline{
  display: inline;
}

.form-set input, .form-set select{
  border: 1px solid #999;
  padding: 5px;
  font-size: 1.2em;
}

#pretend-form{
  border: 1px dotted #777;
  margin: 0 2em;
  padding: 1em 2em 2em 2em;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


/*--------------------------------MEDIA QUERIES------------------------------*/
@media (max-width: 499px) {
	#header{padding: 10px}
  #header #logo{display: none;}
  #header h1{
    top: 0; 
    left: 1em; 
    font-size: 2em;
    position: relative;
  }
  #login-details{
    top: 0;
    left: 2em;
    margin: 0 0 1em 0;
    position: relative;
  }
  #main{
    margin: 2em;
  }
  
  #sidebar{
    float: none;
  }
  
  #left{margin: 0;}
  
  .content-section{
    padding: 1em;
    margin: 0 0 2em 0;
    width: 100% !important;
  }
}

@media (min-width: 500px) and (max-width: 899px){
	#header{padding: 10px}
  #header #logo{display: none;}
  
  #header h1{
    top: 0;
    left: 0;
    font-size: 2em;
    position: relative;
    padding-left: 1em;
  }
  
  #login-details{
    top: 0;
    left: 2em;
    margin: 0 0 1em 0;
    position: relative;
  }
  #main{
    margin: 2em;
  }
  
  #sidebar{
    float: none;
  }
  
  #left{margin: 0;}
  
  .content-section{
    padding: 1em !important;
    margin: 0 0 2em 0;
    width: 100% !important;
  }

}

@media (min-width: 900px){
	#header{padding: 20px 50px}
	#title{margin: 20px 50px}
	#columns{margin: 20px 50px}

}
